In [36]:
#Variable(Space nhi hota, number se start nhi hota, meaningfull name rkho) 
a="Monika"
print(a) 
my_self="Me"
print(my_self)

Monika
Me

In [11]:
#Data types
x =10
print(type(x)) 
y=True 
print(type(y))
z="Monika"
print(type(z))
s=2+3j    #Python m imaginary unit j hoti h
print(type(s))

<class 'int'>
<class 'bool'>
<class 'str'>
<class 'complex'>

In [37]:
#Print
print("My name is Monika\n"+"I am an engineer")

My name is Monika
I am an engineer

In [15]:
#Input from user 
user=input("Enter Your Name")
print(user)

Enter Your Name Monika

Monika

In [21]:
age=input("Enter your age") 
print("Your age is:\n"+age)
i=input("Enter your name")
print("Hey",i,"!")

Enter your age Monika

Your age is:
Monika

Enter your name Monika

Hey Monika !

In [29]:
#Type casting 
a=10  #(Implicit casting) Automatically done 
b=3.5
x=a+b
print(x)
print(type(x))

#Explicit casting 
a=10
b=float(a) 
print(b) 
print(str(a))
print(complex(a))

13.5
<class 'float'>
10.0
10
(10+0j)

In [35]:
a="10"
b=int(a) 
print(b)

print(b+5)

10
15

In [42]:
name=input("Enter your name")
age=int(input("Enter your age")) 
print("Hey!",name)
print("You are",age,"years old")
print("Next year your age will be", age+1)

Enter your name Monika
Enter your age 21

Hey! Monika
You are 21 years old
Next year your age will be 22

In [43]:
#Conditional Statement(if-else) 
age=18
if age>=19:
    print("Not Correct")
else:
    print("Correct")

Correct

In [47]:
#(if-elif-else) Multiple conditions 
marks=75
if marks>=90:
    print("Grade A")
elif marks>=70 and marks<90:
    print("Grade B") 
else:
    print("Grade C")

Grade B

In [49]:
#Practice Problems 
#Even-odd number 
num=20
if num%2==0:
    print("Given number is even") 
else:
    print("Given number is odd")

Given number is even

In [50]:
#Positive/Negative/Zero
num=-7
if num>0:
    print("Given Number is Positive") 
elif num<0:
    print("Given number is Negative") 
else:
    print("Given number is Zero")

Given number is Negative

In [51]:
#Largest of 3 numbers 
a=3
b=5
c=7
if a>=b and a>=c:
    print("Largest number is:",a)
elif b>=a and b>=c:
    print("Largest number is:",b) 
else:
    print("Largest number is:",c)

Largest number is: 7

In [53]:
#Pass or Fail 
marks=int(input("Enter your marks"))
if marks>=40:
    print("Student is Pass") 
else:
    print("Student is fail")

Enter your marks 75

Student is Pass

In [55]:
#Simple Calculator(+,-,*,/) 
f1=int(input("Enter first number"))
f2=int(input("Enter second number")) 
op=input("Enter operator:(+,-,*,/)") 
if op=="+":
    print("Result",f1+f2) 
elif op=="-":
    print("Result",f1-f2) 
elif op=="*":
    print("Result",f1*f2) 
elif op=="/":
    print("Result",f1/f2)
else:
    print("Invalid operator")

Enter first number 100
Enter second number 50
Enter operator:(+,-,*,/) *

Result 5000

In [56]:
#Loop 
#for loop 
for i in range(1,6):
    print(i)

1
2
3
4
5

In [1]:
#while loop 
i=1
while(i<=5):
    print(i)
    i+=1

1
2
3
4
5

In [2]:
#Practice Problems 
#Print 1 to 100 
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
i=1
while(i<=100):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
#Sum of first 10 numbers 
n=10
sum=n*(n+1)//2   #formula (sum of first n consecutive number) 
print(sum)

55

In [8]:
sum=0
for i in range(1,11):
    sum=sum+ i
print(sum)

55

In [15]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i+=1
print(sum)

55

In [17]:
#Multiplication table 
for i in range(1,11):
    print("2","x",i,"=",i*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [21]:
num=int(input("Enter your number for getting table:"))
for i in range (1,11):
    print(num,"X",i,"=",num*i)

Enter your number for getting table: 13

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [24]:
#Reverse a string 
num="123"
print(num[::-1])

321

In [28]:
#Reverse a number  (%=last digit nikalta h, //=last digit htata h , *10=digit ko left shift krta h 
rev=0
num=123
while num>0:
    digit=num%10
    rev=rev*10+digit
    num=num//10
print(rev)

321

In [2]:
num=int(input("Enter any number")) 
rev=0
while num>0:
    digit=num%10
    rev=rev*10+digit
    num=num//10
print(rev)

Enter any number 265

562

In [5]:
#Count digits in a number 
num=12345678
count=0
while(num>0):
    count+=1
    num=num//10
print(count)

8

In [7]:
num=12345678
print(len(str(num)))  #len() only use with string, list, tuple

8

In [16]:
#Non Premitive data type
lst=[2,3,4,5] #List
print(lst) 
print(type(lst))

tup=(1,2,3,4,5)  #Tuple
print(tup)

dct={"Name":"Monika","Department":"SOET"}
print(dct) 

dct1={"a":[1,2,3,4]}
print(dct1) 

set={1,2,3,4}
print(set) 
print(type(set))

[2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
{'Name': 'Monika', 'Department': 'SOET'}
{'a': [1, 2, 3, 4]}
{1, 2, 3, 4}
<class 'set'>

In [46]:
#Dictionary operations
fruits=["Apple","Mango","Grapes","Papaya"]
fruits.append("Kiwi")
fruits.insert(1,"P")
fruits.remove("Grapes")
fruits.sort() #alphabetically sort 
print(fruits)

['Apple', 'Kiwi', 'Mango', 'P', 'Papaya']

In [30]:
fruits=["Apple","Mango","Grapes","Papaya"]
print(len(fruits))

4

In [42]:
fruits=["Apple","Mango","Grapes","Papaya"]
fruits.pop() 
print(fruits)

['Apple', 'Mango', 'Grapes']

In [45]:
fruits=["Apple","Mango","Grapes","Papaya"]
x=fruits.pop()    #by default last element remove 
print(x)          #Return remove element 
print(fruits)

Mango
['Apple', 'Grapes', 'Papaya']

In [47]:
#Practice Problems  
#List of 5 numbers and print sum 
lst=[1,2,3,4,5]
print(sum(lst))

15

In [50]:
#Create list of 3 names and print each name 
lst=["Monika","Renu","Nikita"]
print(lst[0])
print(lst[1])
print(lst[2])

Monika
Renu
Nikita

In [57]:
#Add new item, remove the item 
lst=[1,3,"a"]
lst.append("b")
print(lst)
lst.pop()
print(lst)

[1, 3, 'a', 'b']
[1, 3, 'a']

In [59]:
#Tuple
tup=(1,2,"a","b","f",5.6)
print(tup[3])

b

In [66]:
#Tuple operations 
tup=(1,2,"a","b",2,5.6,2,2)
print(len(tup))   
print(tup.count(2))

8
4

In [80]:
#Dictionary 
dct={"Name":["Monika","Renu"], "Age":[21,20]}
print(dct) 
print(dct["Name"][1])

{'Name': ['Monika', 'Renu'], 'Age': [21, 20]}
Renu

In [79]:
dct={"Name":["Monika","Renu"], "Age":[21,20]}
dct["Age"]=30,40    #Update values 
print(dct)

{'Name': ['Monika', 'Renu'], 'Age': (30, 40)}

In [83]:
dct={"Name":["Monika","Renu"], "Age":[21,20]}         #Add new key-value pair   (Dictionary Operation)
dct["Department"]="SOET"
print(dct)

{'Name': ['Monika', 'Renu'], 'Age': [21, 20], 'Department': 'SOET'}

In [86]:
#Dictionary Operations 
dct={"Name":["Monika","Renu"], "Age":[21,20]} 
del dct["Age"]
print(dct) 
print(dct.keys())
print(dct.values())

{'Name': ['Monika', 'Renu']}
dict_keys(['Name'])
dict_values([['Monika', 'Renu']])

In [97]:
#Practics Problem
#Add a new frnd delete existing one 
dct={"Name":["Monika","Renu"],"Marks":[70,60]}
dct["Name"].append("Nikita")
print(dct)
dct["Marks"].pop(0)
print(dct)

{'Name': ['Monika', 'Renu', 'Nikita'], 'Marks': [70, 60]}
{'Name': ['Monika', 'Renu', 'Nikita'], 'Marks': [60]}