In [ ]:
#Day4 Functions and lambda

In [1]:
#User define function 
def greet():
    print("Hello")
greet()                #Function calling

Hello

In [4]:
def st_name(name):     #Input parameter
    print("Student name is:",name)
st_name("Monika")
st_name("Renu")

Student name is: Monika
Student name is: Renu

In [8]:
def add(a,b):
    return a+b
add(2,3)

5

In [10]:
#lambda function 
sq=lambda x:x**2
print(sq(2))

4

In [13]:
sq=lambda x,y:x+y
print(sq(2,3))

5

In [12]:
def sq(a):   #define function 
    return a**2
sq(2)

4

In [14]:
#Check even/odd
def is_even(num):
    if num%2==0:
        print("yes,even")
    else:
        print("No") 
is_even(3)

No

In [17]:
num=int(input("Enter any number"))     #Factorial of a number 
prod=1
for i in range (1,num+1):
    prod=prod*i
print(prod)

Enter any number 5

120

In [25]:
#Factorial of a number by user define function 
def fact(num):
    prod=1
    for i in range(1,num+1):
        prod=prod*i
    return(prod) 
fact(5)

120

In [30]:
#Sum of number in a list 
def sum_list(lst):
    sum=0
    for i in lst:
        sum=sum+i
    return(sum) 
sum_list([2,3,4])

9

In [31]:
#Lambda function (Double number) 
num=lambda x:x*2
print(num(2))

4

In [39]:
#Double number in a list   (using map func. and lambda func.) 
lst=[2,3,4,5]
doubled=list(map(lambda x:x*2,lst))     #map function always have 2 arguments 
print(doubled)

[4, 6, 8, 10]